@{
    ViewBag.Title = "Home Page";
}
@model IEnumerable<GestionInventario.Models.Element>
<div class="progress" style="display:none;">
    <div class="indeterminate"></div>
</div>
<div class="content row">
    @{Html.RenderPartial("~/Views/Partial/_ElementTable.cshtml", Model); }
</div>
<div class="modal" id="modal">
</div>